# Ignore files for push...
# Large files over 100MB have be compress in 95MB file parts.

# General exclusions
#.gitignore
.idea/
venv/
.temp/HECHMS_v0/
.refs/GitHubRefs/

# Exclusion for https://github.com/rcfdtools/R.LTWB/tree/main/Section02/DEMAster
# Large file
.dem/ASTER/ASTGTMV003Mosaic.tif
.dem/ASTER/ASTGTMV003Mosaic.tif*
.dem/ASTGTMV003MosaicArcGISPro.tif
.dem/ASTGTMV003MosaicArcGISPro.tif*


# Some samples
# http://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#Ignoring-Files

# ignore all .a files
# *.a

# but do track lib.a, even though you're ignoring .a files above
# !lib.a

# ignore all files in any directory named build
# build/

# ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
# doc/**/*.pdf