# Ignore files for push...

# General advice
# Before put large files over 100MB, you have to include the path and name here on .gitignore.
# Alert: when you create large files them can appear into the Commit main panel for push and the GitHub server can get you an error and stop the file load and the push. You can drop the commit, rename the files after the inclusion here on .gitignore or move the large files to another directory and then make a Push. After the Push be done, you can move back the large files to the original folder. Before made a commit drop is recommended get a copy of your local repository for prevent data lost.
# Large files over 100MB have be compress in 95MB file parts.

# General exclusions
#.gitignore
.git/
.idea/
venv/
.temp/HECHMS_v0/
#.refs/GitHubRefs/

# Large files exclusions
.dem/ASTER/ASTGTMV003Mosaic.tif
.dem/ASTER/ASTGTMV003Mosaic.tif*
.dem/ASTER/ASTGTMV003MosaicArcGISPro.tif
.dem/ASTER/ASTGTMV003MosaicArcGISPro.tif*
.dem/ASTER/ASTGTMV003MosaicQGIS.tif
.dem/ASTER/ASTGTMV003MosaicQGIS.tif*
.dem/ASTER/ASTGTMV003MosaicHillshade.tif
.dem/ASTER/ASTGTMV003MosaicHillshade.tif*
.dem/ASTER/ASTGTMV003MosaicArcGISProHillshade.tif
.dem/ASTER/ASTGTMV003MosaicArcGISProHillshade.tif*
.dem/SRTM/SRTMV003MosaicArcGISPro.tif
.dem/SRTM/SRTMV003MosaicArcGISPro.tif*
.dem/ALOS/APFBSRT1MosaicArcGISPro.tif
.dem/ALOS/APFBSRT1MosaicArcGISPro.tif*
HECHMS/terrain/
HECHMS/gis/
.dem/ASTER/ASTGTMV003MosaicArcGISProZE.tif
.dem/ASTER/ASTGTMV003MosaicArcGISProZE.tif*
.dem/SRTM/SRTMV003MosaicArcGISProZE.tif
.dem/SRTM/SRTMV003MosaicArcGISProZE.tif*
.dem/ALOS/APFBSRT1MosaicArcGISProZE.tif
.dem/ALOS/APFBSRT1MosaicArcGISProZE.tif*

# Some samples
# http://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#Ignoring-Files

# ignore all .a files
# *.a

# but do track lib.a, even though you're ignoring .a files above
# !lib.a

# ignore all files in any directory named build
# build/

# ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
# doc/**/*.pdf